<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
</head>

<style>
    body{
        background-color: green;
    }
</style>
<body >
    <% for(let game of data){ %>
        <h3><%= game.game_id %>  <%= game.name %>  <%= game.copies_aval %> </h3>
    <% } %>  
    <a href="/home">Back</a>
</body>
</html>